*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1512px;
    height: 100vh;
    margin: 0 auto;
    padding: 30px;
    font-family: 'Roboto', sans-serif;

}



.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(150px, auto); 
  gap: 20px;
  position: relative;
}

.grid-container::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: #000;
  z-index: 1;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.grid-item p {
  font-weight: 100;
  letter-spacing: 0.4em;
  font-size: 1.5rem;
  white-space: nowrap;
}


.grid-item:nth-child(1) { 
    grid-column: 1 / 3; 
    grid-row: 1; 
    justify-content: flex-start; 
}
.grid-item:nth-child(2) { 
    grid-column: 3; 
    grid-row: 1; 
}
.grid-item:nth-child(3) { 
    grid-column: 1; 
    grid-row: 2; 
    justify-content: 
    flex-start; }
.grid-item:nth-child(4) { 
    grid-column: 2; 
    grid-row: 2; 
}
.grid-item:nth-child(5) { 
    grid-column: 4; 
    grid-row: 2; 
}
.grid-item:nth-child(6) { 
    grid-column: 1; 
    grid-row: 3; 
}

.grid-item:nth-child(7) { 
    grid-column: 3; 
    grid-row: 3; 
}

.grid-item:nth-child(8) { 
    grid-column: 1; 
    grid-row: 4; 
}

.grid-item:nth-child(9) { 
    grid-column: 2; 
    grid-row: 4;
}

.grid-item:nth-child(10) { 
    grid-column: 4; 
    grid-row: 4; 
}

