*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1512px;
    height: 100vh;
    margin: 0 auto;
     padding: 30px;

    font-family: 'Roboto', sans-serif;

}
h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.grid-container-layout2{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 23px;
}
.grid-item{
    width: 100%;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
}
.grid-item img{
    width: 100%;
    height: 100%;
    display: block;
}