*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1512px;
    height: 100vh;
    margin: 0 auto;
    padding: 30px;
    font-family: 'Roboto', sans-serif;

}
h1{
    font-weight: 200;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 0.5em;
    margin-top: 40px;
    margin-bottom: 60px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap: 23px;
    padding-bottom: 20px;
}
.grid-item{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-item:nth-child(3), .grid-item:nth-child(5), .grid-item:nth-child(8){
    visibility: hidden;
}


