*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1512px;
    height: 100vh;
    margin: 0 auto;
     padding: 30px;

    font-family: 'Roboto', sans-serif;

}
h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap: 23px;
    padding-bottom: 20px;
}
.grid-item{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-item:nth-child(1), .grid-item:nth-child(6){
    grid-column: span 2;
}
.grid-item:nth-child(5){
    grid-row: span 2;
}